@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
  overflow: hidden;
  background: #0a57ff;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card{
    position: absolute;
    height: 220px;
	width: 280px;
    background: #fff;
    top: 90px;
	left: 60px;
    box-shadow: 5px 10px 20px #333;
    overflow: hidden;
    border-radius: 4px;
}

.header{
    position: relative;
    width: 280px;
    height: 60px;
    background: #ffb514;
}

.title{
    position: absolute;
    z-index: 2;
    color: #fff;
    font-weight: bold;
    left: 15px;
    top: 10px;
}

.line-1{
    position: absolute;
    height: 235px;
    width: 3px;
    background: #333;
    border-radius: 2px;
    rotate: 90deg;
    left: 137px;
    opacity: 0.2;
}

.line-2{
    position: absolute;
    height: 235px;
    width: 3px;
    background: #333;
    border-radius: 2px;
    rotate: 90deg;
    left: 137px;
    top: 30px;
    opacity: 0.2;
}

.line-3{
    position: absolute;
    height: 235px;
    width: 3px;
    background: #333;
    border-radius: 2px;
    rotate: 90deg;
    left: 137px;
    bottom: -14px;
    opacity: 0.2;
}

.title-date{
    position: absolute;
    z-index: 2;
    color: #fff;
    left: 15px;
    top: 30px;
    font-size: small;
}

.revenue-title{
    position: absolute;
    z-index: 2;
    color: #fff;
    left: 215px;
    top: 10px;
    font-size: small;
}

.revenue-value{
    position: absolute;
    z-index: 2;
    color: #fff;
    left: 175px;
    top: 30px;
    font-weight: bold;
}

.stick-views{
    position: absolute;
    height: 5px;
    width: 13px;
    background: rgb(255, 57, 57);
    left: 140px;
    border-radius: 3px;
    top: 80px;
    color: #333;
    font-size: smaller;
}

.parameter{
    text-align: right;
}